<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karthik.ctlogin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--    android:name="com.clevertap.android.sdk.Application"-->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CTLogin">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <!-- TEST-KarthikTest Account -->
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="TEST-W8W-6WR-846Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="TEST-206-0b0" />

        <!--         <meta-data -->
        <!--         android:name="CLEVERTAP_USE_GOOGLE_AD_ID" -->
        <!--         android:value="1" /> -->

        <!--        <meta-data-->
        <!--            android:name="FCM_SENDER_ID"-->
        <!--            android:value="id:487275975172" />-->

        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1" />

        <!--        <service-->
        <!--            android:name="com.clevertap.android.sdk.pushnotification.fcm.FcmMessageListenerService"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->

        <!--        Custom Android Push Notifications Handling-->
        <service
            android:name="com.karthik.ctlogin.MyFcmMessageListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.clevertap.android.sdk.pushnotification.CTPushNotificationReceiver"
            android:enabled="true"
            android:exported="false">

        </receiver>

    </application>

</manifest>